:root {
    --neutral: white;
    --correct: green;
    --wrong: red;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 
 body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    align-content: center;
    width: 100%;  
 }


body.correct {
    background-color: var(--correct);
}

body.wrong {
    background-color: var(--wrong);
}

body.neutral {
    background-color: var(--neutral);
}

.navbar {
    display: flex;
    justify-content: space-between;
    
}

.container {
    display: flex;
    flex-direction: column;
    flex: wrap;
  
    width: 500px;
    max-width: 50%;
    height: 200px;
    max-height: 40;
    border: 2px solid black;
    border-radius: 5px; 
    box-shadow: 0 0 5px black;
   
}

.btn {
    color: white;
    background-color: rgb(225, 0, 255);
    transition: all 0.5s ease;
    border-radius: 3px;
    }
    
.btn:hover {
    border:  5px solid darkblue; 
}

.btn.correct {
    background-color: var(--correct);
}

.btn.wrong {
    background-color: var(--wrong);
}

#welcomepage {

}

#welcomepagehs {

}

#questionspage {

}

#question {

}

#answer {

}

#currentscore {

}

#reviewpage {

}

#highscorepage {

}
