#container {
    position: absolute;
    left: 30%;
    top: 20%;
    border: 5px solid black;
    width: 500px;
    height: 500px;
} 

#questionBox {
    margin: 20px;
    
}

#currentTime {
    float: right;
}

.btn {
    background-color: rgb(114, 73, 114);
    color: white;
    border: none;
    border-radius: 3px;
    
}