:root {
    --neutral: white;
    --correct: red;
    --wring: green;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: ;
}

body {
    --color: var(--color-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 1000vh;

}

body.correct {
    background-color: var(--correct);
}

body.wrong {
    background-color: var(--wrong);
}

body.neutral {
    background-color: var(--neutral);
}


#welcomepage {

}

#welcomepagehs {

}

#questionspage {

}

#question {

}

#answer {

}

#currentscore {

}

#reviewpage {

}

#highscorepage {

}
