#container {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 500px;
} 

#timeStart {
    background-color: rgb(114, 73, 114);
    color: white;
    font-size: 20px;
}

#questionBox {
    margin: 20px;
    
}

#currentTime {
    float: right;
}

#clearHighScores {
    position: relative;
    background-color: rgb(114, 73, 114);
    color: white;
    border: none;
    border-radius: 3px;
    position: relative;
    text-align: center;
}

#goBack {
    background-color: rgb(114, 73, 114);
    color: white;
    border: none;
    border-radius: 3px;
    position: relative;
    text-align: center;
    
}

#submit {
    
}