:root {
    --neutral: white;
    --correct: green;
    --wrong: red;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 
body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
   

} 

body.correct {
    background-color: var(--correct);
}

body.wrong {
    background-color: var(--wrong);
}

body.neutral {
    background-color: var(--neutral);
}


#welcomepage {

}

#welcomepagehs {

}

#questionspage {

}

#question {

}

#answer {

}

#currentscore {

}

#reviewpage {

}

#highscorepage {

}
